@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    
}

header {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
}

.header-title {
    line-height: 70px;
}

.header-description {
    font-size: 30px;
}

.header-content {
    /* background-color: blue; */
    font-size: 30px;
    max-width: 750px;
    text-align: center;
    color: white;
}

.header-button {
    background-color: #DDAA33;
    padding: 20px 30px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 40px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    cursor: pointer;
    opacity: 1.0
}

.header-button:hover {
    opacity: 0.9;
}


/* PARTE 2 DE LA PAGINA  */

.history {
    max-width: 100vw;
    background-color: #F8F5EE;
    height: 75vh;
}

.history > h2 {
    color: #6B8E7E;
    text-align: center;
    font-size: 40px;
    padding: 75px;
}

.history > p {
    color: #666666;
    margin: 0 auto;
    text-align: center;
    width: 820px;
    padding-bottom: 75px;
    font-size: 18px;

}

.history-flex-container {
    display: flex;
    justify-content: center; /* es como hacer margin: 0 auto; pero para flexbox*/
}

.history-flex-container > div {
    border-radius: 10px;
    width: 300px;
    padding: 30px;
    background-color: white;
    text-align: center;
    margin: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px 0px;
}

.history-flex-container > div > h3 {
    font-size: 22px;
    color: #A0522D;
}

.history-flex-container > div > p {
    color: #666666;
}

/* PARTE 3  */

.energy {
    max-width: 100vw;
    height: 85vh;
}

.energy > h2 {
    color: #6B8E7E;
    text-align: center;
    font-size: 40px;
    padding: 75px;
}

.energy-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 950px;
    height: 500px;
    margin: 0 auto;
    gap: 30px;
}  

.energy-grid-container > div {
    background: #F8F5EE;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px 0px;
}

.energy-grid-container > div > h3 {
    margin-bottom: 10px;
    font-size: 20;
    max-width: 200px;
}

.energy-grid-container > div > p {
    font-size: 15px;
    color: #666666;
}

/* PARTE 4 */

































/* PARTE 3 DE LA PAGINA */


.energy-title {
    height: 50vh    ;
    padding: 50px 0;
    font-size: 40px;
    color: #6B8E7E;
    text-align: center;
}

.energy-container {

    display: flex;
    
    justify-content: center; 
    align-items: center; 
    /* flex-flow: row wrap;  */
    flex-direction: row; 
    flex-wrap: wrap; 

    /* background-color: #bbdefb; */
    height: 100%;
    padding: 15px;
    gap: 30px;
    margin: 0 auto;
    width: 1200px;
}

  .energy-container > .energy-card{
    background: #F8F5EE;
    /* border: 3px solid #ffcc80; */
    border-radius: 5px;
    padding: 30px 30px;
    width: 300px;
    height: 220px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px 0px;
  }

  .energy-card h3 {
    color: black;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
}

.energy-card p {
    color: #666666;
}

/* CUARTA PARTE STEPS */

.steps {
    background-color: blue;
    height: 100vh;
}